* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: blue;
    z-index: 200;
}

nav button {
    display: block;
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid black;
}

nav button:hover {
    background-color: #ddd;
    color: black;
}

#jumpMenu {
    display: none;
    background-color: goldenrod;
    list-style: none;
}

#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
    display: block;
}

#jumpMenu li {
    border-bottom: 1px solid black;
}

#jumpMenu a {
    display: block;
    color: blue;
    padding: 15px 20px;
    text-decoration: none;
}

#jumpMenu a:hover {
    color: #fff;
    background-color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    background-color: red;
    padding: 20px;
    text-align: center;
    z-index: 100;
}

header p {
    font-size: 2em;
    font-weight: bold;
}

main {
    margin-left: 15%;
    width: 85%;
    padding-top: 100px;
}

main > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

article {
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    color: #999;
    transition: color 2s, transform 2s;
}

article:hover {
    color: #000;
    transform: scale(1.05);
}

article h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

article p {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}

article p:first-of-type::first-letter {
    font-family: 'Times New Roman', serif;
    font-size: 36px;
}

article a {
    color: blue;
}

a[href="http://www.google.com"]::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-image: url('arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#thanks {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: lightblue;
    padding: 20px 40px;
    border: 2px solid black;
    font-size: 1.5em;
    z-index: 50;
}

#thanks a {
    color: blue;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer a {
    color: lightblue;
}
