* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#jumpMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: goldenrod;
    padding: 20px;
    overflow-y: auto;
}

#jumpMenu h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}


#jumpMenu a {
    display: block;
    color: blue;
    padding: 10px 0;
    font-size: 1.1em;
}

header {
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    background-color: red;
    padding: 15px;
    text-align: center;
    z-index: 100;
}

header p {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

header button {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.1em;
    cursor: pointer;
}

main {
    margin-left: 15%;
    width: 85%;
    padding-top: 120px;
}

main > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

article {
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
}

article h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

article p {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}

article a {
    color: blue;
}

#thanks {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: lightblue;
    padding: 20px 40px;
    border: 2px solid black;
    font-size: 1.5em;
    z-index: 50;
}

footer {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    font-size: 1.2em;
    margin-bottom: 10px;
}


footer a {
    color: lightblue;
}
